*{
    padding:0px;
    margin:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Custome for mobile */
@media only screen and (max-width: 600px) {
    body{
        margin-top:10px;    
    }
    .hidden{
        display: none;
    }
    .menu a{
        color: #000;
        font-size: 30px;
    }
    .slider{
        position: relative;
        top:45px;
        left:0px;
    }
    .nav-link:focus, .nav-link:hover {
        color: #f03800;
    }
    .formdangnhap  .title{
        color:aqua;
        text-align: center;
        font-size:30px
        
    }
    .formdangnhap{   
        position:absolute;
        top:170px;
        left:0px;
        z-index:1;
      
    }
    .formdangnhap .content{
        background-color: rgba(204, 204, 204, 0.808);
        border-radius: 6px ;
        padding:10px;
    }
    .formdangbai{
        position:absolute;
        top:170px;
        left:0px;
        z-index:1;
    }
    .formdangbai .content{
        background-color: rgba(204, 204, 204, 0.808);
        border-radius: 6px ;
        padding-left:25px;
    }
    .formdangbai .title{
        color:rgb(180, 139, 3);
        text-align: center;
        font-size:30px
    }
    .formdangky .title{
        color:aqua;
        text-align: center;
        font-size:30px
    }
    .formdangky{
        position:absolute;
        top:170px;
        left:0px;
        z-index:1;
    }
    .formdangky .content{
        background-color: rgba(204, 204, 204, 0.808);
        padding:10px;
        border-radius: 6px ;
    }
    .formupdate{
        position:absolute;
        top:170px;
        left:0px;
        z-index:1;
    }
    .formupdate .content{
        background-color: rgba(204, 204, 204, 0.808);
        padding:10px;
        border-radius: 6px ;
    }
    
    .formupdate .title{
        color:rgb(0, 175, 53);
        text-align: center;
        font-size:30px
    }
    
  }
  /* Custome for PC */
@media only screen and (min-width: 600px){
    .dropdownsignout{
        margin-left: 50px;
    }
    .menufive{
        margin-left:50px;
        background-color: rgba(212, 0, 255, 0.336);
        border-radius: 10px;
    }
    .menutitle{
        margin-left: 200px;
    }
    body{
        margin-top:10px;
       
    }
    .hidden{
        display: none;
    }
    .menu a{
        color: #000;
        font-size: 30px;
    }
    .slider{
        position: relative;
        top:45px;
        left:0px;
    }
    .nav-link:focus, .nav-link:hover {
        color: #f03800;
    }
    .formdangnhap  .title{
        color:aqua;
        text-align: center;
        font-size:30px
        
    }
    .formdangnhap{   
        position:absolute;
        top:100px;
        left:50px;
        z-index:1;
      
    }
    .formdangnhap .content{
        background-color: rgba(204, 204, 204, 0.808);
        border-radius: 6px ;
        padding:10px;
    }
    .formdangbai{
        position:absolute;
        top:40px;
        left:50px;
        z-index:1;
    }
    .formdangbai .content{
        background-color: rgba(204, 204, 204, 0.808);
        border-radius: 6px ;
        padding-left:25px;
    }
    .formdangbai .title{
        color:rgb(180, 139, 3);
        text-align: center;
        font-size:30px
    }
    .formdangky .title{
        color:aqua;
        text-align: center;
        font-size:30px
    }
    .formdangky{
        position:absolute;
        top:40px;
        left:50px;
        z-index:1;
    }
    .formdangky .content{
        background-color: rgba(204, 204, 204, 0.808);
        padding:10px;
        border-radius: 6px ;
    }
    .formupdate{
        position:absolute;
        top:40px;
        left:50px;
        z-index:1;
    }
    .formupdate .content{
        background-color: rgba(204, 204, 204, 0.808);
        padding:10px;
        border-radius: 6px ;
    }
    
    .formupdate .title{
        color:rgb(0, 175, 53);
        text-align: center;
        font-size:30px
    }
   
}
#btn-plus-post, #btn-minus-post {
    background-color: rgba(215, 250, 248, 0.438);
    border-radius: 10px;
}
#ip-sever-post, #select-card-post, #ip-team-post {
    border-radius:10px;
}
#span-card-post{
    
    padding: 0px;
    margin: 0px;
    background-color: rgba(215, 250, 248, 0);
}
.spanchonanh{
    cursor: pointer;
    text-align: 40px;
    border-radius:10px;
    background-color: rgba(215, 243, 250, 0.692);
}



